/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5, span{
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container {
  width: 900px;
  margin: 0 auto;
  border: 1px solid red;
  padding: 20px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav  {
  padding: 10px;
}

nav  a {
  padding: 0px 30px;
  color: gray;
  text-decoration: none;
}

.top-section {
  display: inline-block;
  margin-bottom: 40px;
  width: 55%;
  text-align: center;
}

.top-section > h1 {
  display: inline-block;
  font-size: 70px;
}

.top-section > button {
  font-size: 15px;
  padding: 5px 45px;
  border: 2px solid gray; 
  background-color: white;
}

.world {
  margin-top: 10px;
  padding-top: 25px;
}

.mid-section {
  display: flex;
  flex-direction: row;
  height: 90px; 
}

.mid-section h3 {
  display:inline-block;
  margin-right: 5px;
  height: 10px;
}

.mid-section p {
  display:inline-block;
  
}

.middle-img {
  width: 100%; 
  margin: 20px 0px;    
}

.midbottom-section{
  display: flex;
  flex-direction: row;
  height: 120x; 
}

.midbottom-section p {
  padding-right: 10px; 
}

footer {
  display: inline-block;
  width: 100%;
}

footer p {
  margin-top: 30px;
  text-align: center; 
}

hr {
  margin: 20px 0px; 
}

@media(max-width: 500px) {
    .container {
        border: 1px solid red;
        width: 500px;
        display: flex;
        flex-direction: column;
    }
    .world {
        display: none;
    }
    .top-section, .mid-section, .midbottom-section, .bottom-section, .middle-img, header {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        padding-right: 250px;
    } 
    .mid-section p {
        margin-bottom: 15px;
        width: 100%;
    }
    .midbottom-section p {
        margin-bottom: 15px;
    }
    .bottom-section > span {
        margin-bottom: 0px;
    }
    .logo {
        order: -1;
    }
    
    nav {
        text-align: center;
        display: flex;
        flex-direction: column;
        padding-right: 250px;
        text-align: center;
    }
    nav a {
        border: 1px solid lightgray;
        width: 500px;
        padding: 10px 0px;
        margin-left: 225px;
    }
    .top-section {
        margin: 20px 0px;;

    }
    .top-section > button {
        font-size: 30%;
        width: 35%;
        margin-left: 30%;
        margin-bottom: 30px;
    }   

    .middle-img {
      width: auto;
      border: 1px solid red;
    }
    .mid-section {
      width: 200px;
    }
    .top-line {
      margin-bottom: 90px;
    }
    
    .bottom-line{
      margin-bottom: 30px;
    
}

@media(max-width: 800px) {
  .container {
    width: 750px;
  }
  .top-section, .mid-section, .midbottom-section, .bottom-section, .middle-img, header {
    width: 100%;
  }
  header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .logo {
    order: -1;
    margin-bottom: 15px;
  }
  .world {
    display: none;
  }
  .top-line {
    padding-bottom: 25px;
  }
}